.hidd {
  display: none; }

.main.out {
  width: 400px;
  overflow-x: hidden; }

.navbar .navbar-toggle {
  margin-right: 0; }

.navbar .button-group {
  width: auto;
  display: flex;
  vertical-align: bottom; }
  .navbar .button-group a {
    width: 120px;
    flex: 50; }

section {
  overflow-x: hidden; }
  section .image-wrapper .main {
    width: 100%; }
  section .socials-group {
    top: 1em !important;
    font-size: 18px !important;
    color: #FFFFFF; }
    section .socials-group i {
      transform: scale(1) !important; }
  section .heading-group {
    position: absolute;
    font-size: 14px !important;
    left: 1.5em; }
    section .heading-group .paragraph {
      font-weight: 400;
      font-size: 24px; }
  section .expert-window {
    padding-bottom: 2em; }
    section .expert-window span {
      font-size: 18px; }
  section .container_accordion .panel-group .timeline li {
    float: right !important;
    padding-bottom: 1em; }
    section .container_accordion .panel-group .timeline li gm-map {
      height: 20em; }
    section .container_accordion .panel-group .timeline li .timeline-badge,
    section .container_accordion .panel-group .timeline li .badge-right,
    section .container_accordion .panel-group .timeline li .badge-left {
      left: -25% !important;
      right: auto;
      background-color: #F6F5E7;
      z-index: 1; }
    section .container_accordion .panel-group .timeline li .timeline-badge:before,
    section .container_accordion .panel-group .timeline li .badge-right:before,
    section .container_accordion .panel-group .timeline li .badge-left:before {
      content: '';
      left: 49%;
      top: 95%;
      width: 1px;
      border-bottom: 30em solid #A29948;
      z-index: 0; }
    section .container_accordion .panel-group .timeline li .timeline-badge:after,
    section .container_accordion .panel-group .timeline li .badge-right:after,
    section .container_accordion .panel-group .timeline li .badge-left:after {
      left: 49%;
      bottom: 95%;
      width: 1px;
      border-top: 15em solid #A29948;
      z-index: 0; }
    section .container_accordion .panel-group .timeline li .card {
      float: right;
      height: 100%; }
      section .container_accordion .panel-group .timeline li .card img {
        width: 100%; }
      section .container_accordion .panel-group .timeline li .card .card-block {
        height: 5em; }
  section .container_accordion .panel-group .timeline .none-before .timeline-badge:after,
  section .container_accordion .panel-group .timeline .none-after .timeline-badge:before {
    border: none; }

@media (max-width: 800px) {
  section .container_accordion .panel-group .timeline li .timeline-badge {
    left: -30% !important; }
    section .container_accordion .panel-group .timeline li .timeline-badge:before {
      border-bottom: 32em solid #A29948; }
  section .container_accordion .panel-group .card {
    width: 400px; } }

@media (max-width: 640px) {
  section .container_accordion .panel-group .timeline li .timeline-badge {
    left: -30% !important; }
    section .container_accordion .panel-group .timeline li .timeline-badge:before {
      border-bottom: 24em solid #A29948; }
  section .container_accordion .panel-group .card {
    width: 100%; } }

@media (max-width: 480px) {
  section .container_accordion .panel-group .timeline li .timeline-badge:before {
    border-bottom: 15em solid #A29948; }
  section .expert-window {
    padding-left: 28%; } }
