.hidd {
    display: none
}

nav {
    .navbar-toggle {
        margin-right: 4px;
    }
    li {
        padding-left: 10px;
    }
}

section {
    overflow-x: hidden;
    .image-wrapper {
        .main {
            width: 100%;
        }
    }
    .socials-group {
        top: 1em !important;
        font-size: 18px !important;
        color: #FFFFFF;
        i {
            transform: scale(1)!important;
        }
    }
    .heading-group {
        position: absolute;
        font-size: 14px !important;
        left: 1em;
        .paragraph {
            font-weight: 400;
            font-size: 24px;
        }
    }
    .expert-window {
        padding-bottom: 2em;
        span {
            font-size: 18px;
        }
    }
    .timeline {
        li {
            float: right;
            padding-bottom: 1em;
            .timeline-badge {
                position: absolute;
                left: -25%;
                top: 100px;
                background-color: #F6F5E7;
                z-index: 1;
                &:before {
                    content: '';
                    left: 49%;
                    top: 95%;
                    position: absolute;
                    width: 1px;
                    border-bottom: 19em solid #A29948;
                    z-index: 0;
                }
            }
            .card {
                width: 300px;
                height: 100%;
            }
        }
        .none .timeline-badge:before {
            border: none;
        }
    }
}

@media (max-width: 640px) {
    section {
        .image-wrapper {
            .main {}
        }
    }
}

@media (max-width: 800px) {
    section {}
}

@media (max-width: 480px) {
    section {
        .expert-window {
            padding-left: 2.5em;
        }
        .timeline {
            li {
                .timeline-badge {
                    &:before {
                        border-bottom: 18em solid #A29948;
                        z-index: 0;
                    }
                }
                .card {
                    width: 250px;
                    height: 100%;
                }
            }
        }
    }
}



