$nav-bg:#C8B485;
.text-muted {
    color: #777777;
}

.no-padding {
    padding: 0;
}

.no-margin,
.navbar-default {
    margin: 0;
}

.no-boxing,
section .container_accordion .panel-group .panel + .panel,
.row {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    width: 100%;
    /* make sure it is at least as tall as the viewport */
}

body {
    height: 100%;
    width: 100%;
}

section .container-fluid {
    padding: 0;
    margin: 0;
    .image-wrapper {
        padding: 0;
        margin: 0;
        .image-container {
            padding: 0;
            margin: 0;
        }
    }
}

.display_none {
    display: none;
}


/* .in {
    margin-left: 0;
}

.out {
    transition: .2s linear all;
    margin-left: 150px;
} */

.navbar {
    width: 100%;
    background-color: $nav-bg;
    border: none;
    border-radius: 0;
    .navbar-toggle {
        display: block !important;
        .icon-bar {
            background-color: #453C25;
            width:30px;
            height:3px;
        }
    }
    .button-group {
        display: flex;
        height: 55px;
        vertical-align: bottom;
        a {
            flex: 50;
            color: #453C25;
            font-size: 18px;
            text-decoration: none;
            &.active {
                font-weight: 600;
                background-color: #D2C29B;
            }
            &.not-active {
                font-weight: 200;
                background-color: inherit;
            }
        }
    }
    .side-collapse {
        background-color: #473E2D;
        background: linear-gradient(to right, #473E2D, #796A46);
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        &.in {
            width: 0;
        }
        &.out {}
    }
}

section {
    /* map styles */
    width: 100%;
    .container-fluid {
        position: relative;
        .image-wrapper .image-container .img-center {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .socials-group {
            position: absolute;
            top: -2.2em;
            right: 1em;
            font-size: 18px;
            i {
                transform: scale(1.4);
                padding: 0 5px;
            }
        }
        .heading-group {
            position: absolute;
            bottom: 1em;
            color: #FFFFFF;
            font-size: 24px;
            i {
                border-right: 1px solid #fff;
                padding: 0 5px;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .expert {
        color: #3D380A;
        padding-top: 1em;
        p {
            color: #3D380A;
            font-size: 18px;
            margin-bottom: 0;
        }
        .clear-rating,
        .caption {
            display: none !important;
        }
        .star-rating {
            margin: 0;
            padding: 0;
            display: inline-block;
            .star {
                padding: 1px;
                color: #ddd;
                font-size: 20px;
                text-shadow: .05em .05em #aaa;
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                &.filled {
                    color: #fd0;
                }
            }
            &.readonly .star.filled {
                color: #fd0;
            }
        }
        .progress-bar-container {
            span {
                font-size: 18px;
            }
            .progress {
                height: 10px;
                margin-top: .5em;
                margin-left: 1em;
                padding: 1px;
                border: 1px solid #DFDCB0;
            }
            .progress-bar.progress-bar-success {
                background-color: #B9E005;
                border-radius: 5px;
            }
            &:first-child {
                padding-top: 1em;
            }
        }
        .expert-overview {
            font-weight: 800;
        }
        .btn {
            background-color: transparent;
            color: #2158D5;
            font-size: 24px;
            &:focus {
                outline: none;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    .container_accordion {
        background-color: #F6F5E7;
        border-radius: 5px;
        border: 1px solid #E4E3D2;
        .panel-group {
            .panel {
                border: 0;
                + .panel {
                    margin-top: 0;
                }
            }
            .panel-default {
                background-color: inherit;
                &:first-of-type {
                    padding-top: 1em;
                }
                &:last-of-type {
                    padding-bottom: 1em;
                }
            }
            .panel-heading,
            .timeline li .card .shadow {
                position: relative;
                background: #F6F5E7;
                /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(left, white, #F6F5E7);
                /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right, white, #F6F5E7);
                /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right, white, #F6F5E7);
                /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right, white, #F6F5E7);
                /* Standard syntax */
                border-top: 2px dashed #E4E3D0;
                border-bottom: 2px dashed #E4E3D0;
                box-shadow: 1px 2px 2px lightgray;
                width: 100%;
            }
            .panel-heading:after,
            .timeline li .card .shadow:after {
                content: "";
                position: absolute;
                z-index: -2;
                box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
                top: 0;
                bottom: 0;
                left: 10px;
                right: 10px;
                border-radius: 100px / 10px;
            }
            .panel-heading a,
            .timeline li .card .shadow a {
                font-weight: 800;
            }
            .panel-heading a:hover,
            .timeline li .card .shadow a:hover {
                text-decoration: none;
            }
            .panel-heading a i,
            .timeline li .card .shadow a i {
                position: absolute;
                right: 10px;
                top: calc(50% - 16px);
                border: 2px solid #FFDF06;
                background-color: #fff;
                border-radius: 50%;
                font-size: 32px;
                height: 32px;
                width: 32px;
            }
            .panel-heading a i:before,
            .timeline li .card .shadow a i:before {
                position: absolute;
                right: 3px;
                top: -1.5px;
            }
            gm-map {
                height: 30em;
                position: relative;
                display: block;
                padding: 1em;
                box-sizing: border-box;
                border-radius: 1em;
                .gmnoprint,
                .gm-style-cc,
                img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"] {
                    display: none;
                }
                gm-infowindow {
                    background-color: #F6F5E7 !important;
                }
            }
            .timeline {
                position: relative;
                padding: 20px 0 20px;
                list-style: none;
                .form {
                    display: flex;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                }
                li {
                    padding-bottom: 2em;
                    .badge-left {
                        left: -5em;
                    }
                    .badge-right {
                        right: -5em;
                    }
                    .timeline-badge {
                        position: absolute;
                        top: 100px;
                        color: #A29948;
                        font-weight: 700;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            width: 1px;
                        }
                    }
                    .card {
                        position: relative;
                        background-color: #fff;
                        border-radius: 5px;
                        box-shadow: 0px 0px 4px #dcdbcb;
                        .card-block {
                            height: 9em;
                            background-color: #fff;
                            position: relative;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            /*==================================================
* Drop shadow effect with box-shadow
* ===============================================*/
                            p {
                                padding: 1em;
                            }
                        }
                        img {
                            margin: 0;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            width: 100%;
                        }
                        .shadow {
                            position: absolute;
                            bottom: 2em;
                            color: #E1614D;
                            h3 {
                                height: 1.5em;
                                padding-top: 6px;
                                padding-left: 1em;
                                font-weight: 100;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .browse-itinerary {
        padding-bottom: 1em;
        color: #3D380A;
        letter-spacing: 1px;
        h4 {
            font-size: 24px;
            font-weight: 800;
        }
        p {
            font-size: 16px;
        }
        button {
            width: 240px;
            height: 3em;
            background-color: #FFDF06;
            color: inherit;
            text-transform: uppercase;
            outline: none;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 2px #dfc40a;
        }
    }
}

.carousel {
    section {
        overflow-y: hidden;
        background-color: #FAFAF2;
        .details_button_wrapper {
            min-height: 40px;
            min-width: 30px;
            max-width: 50px;
            position: absolute;
            right: 0;
            top: 1em;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #FFDF06;
            box-shadow: 2px 1px 1px 1px #DFC40A;
            .details_button i {
                font-size: 24px;
                color: #443B25;
                font-weight: 800;
                position: absolute;
                top: calc(50% - 12px);
                left: calc(50% - 3px);
            }
        }
        input[type="text"] {
            width: 100px;
            min-height: 40px;
            background-color: #FFDF06;
            border-radius: 5px;
            border: none;
            margin: 1em;
        }
        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder {
            color: #4A4024;
            text-align: center;
            font-weight: 100;
            padding: 1em;
        }
        .card {
            border: 1px solid white;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            position: relative;
            margin-bottom: 4em;
            a {
                color: #453C25;
                background-color: white;
            }
            h4 {
                padding-left: 1.5em;
                padding-bottom: 10px;
                font-weight: 600;
            }
            .card-header p {
                padding-left: 2em;
            }
            .row div:last-child {
                position: absolute;
                top: 1em;
                right: 1em;
                font-weight: 100;
            }
            .icon {
                height: 32px;
                display: block;
                float: left;
            }
        }
        .card-block {
            color: #524E2A;
        }
        .card .timeline-badge {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 1em;
            bottom: -3.2em;
            border: 2px solid #FFDF06;
            border-radius: 50%;
            padding-left: 5px;
            padding-top: 3px;
            background-color: white;
        }
    }
    div {
        &.vertical-line {
            position: absolute;
            width: 2px;
            left: 50%;
            background-color: #FFDF06;
        }
        &.vertical-line-before {
            top: -15px;
        }
        &.vertical-line-after {
            bottom: -15px;
        }
    }
}

footer {
    margin-top: 4em;
    background-color: #453C25;
    ul {
        padding-top: 1em !important;
        a {
            color: #fff;
        }
    }
    .logo-div {
        height: 27px;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img {
            height: 100%;
            vertical-align: middle;
        }
    }
    .socials-group {
        padding: 1em 1em 0 0;
        i {
            font-size: 18px !important;
            color: white;
        }
        span {
            color: #796B46;
        }
    }
}
