<footer ng-hide="stateis('app')">
    <div class="container-fluid no-padding">
        <div class="row no-padding">
            <div class="col-xs-5">
                <ul class="no-padding">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#itineraries">Itineraries</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            <div class="col-xs-2 logo-div no-padding">
                <span class="helper"></span><img src="images/w.png" alt="" class="center-block img-responsive">
            </div>
            <div class="col-xs-5 pull-right socials-group text-right no-padding">
                <div class="row">
                    <div class="i-group">
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-facebook-square"></i>
                    </div>
                </div>
                <div class="row">
                    <span>(c) Wanderist 2016</span>
                </div>
            </div>
        </div>
    </div>
</footer>
