<div role="navigation" id="navbar" class="navbar navbar-fixed-top in" ng-class="class" ng-controller="NavController">
    <div class="container-fluid no-boxing">
        <div class="navbar-header">
            <div class="row">
                <button data-toggle="collapse-side" ng-click="hideCont=!hideCont" type="button" class="navbar-toggle pull-left" lateral-slide-menu-toggle><span class="span-cont">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </span>
                    
                </button>
                <div class="button-group text-center center-block no-boxing">
                    <a class="center-block" ng-class=" nav.stateis('app.overview') ? 'active' : 'not-active' " ui-sref="app.overview" c;><i class="glyphicon glyphicon-map-marker"></i> Overview</a>
                    <a class="center-block" ng-class=" nav.stateis('app.overview.details') ? 'active': 'not-active' " ui-sref="app.overview.details"><i class="glyphicon glyphicon-map-marker"></i> Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
