<div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <section class="container-fluid no-padding" id="details">
                <div class="details_button_wrapper">
                    <a href="#myCarousel" role="button" data-slide="next" class="details_button text-center"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <input type="text">
                <div id="accordion1" role="tablist" ng-repeat="day in details.info">
                <div class="row" >
                  <div class="card col-xs-12 col-sm-6 col-sm-push-3" >
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                              
                                 <div class="row">
                                    <div class="col-xs-12">
                                       
                                       <img class="icon" ng-src="{{day.headerIcon}}" width="32px" height="32px"><h4 class="no-padding">{{day.name}}</h4>
                                       <p class="text-muted">{{day.street}}</p>
                                    </div>
                                    <div class="">
                                       <span>
                                       <i class="fa fa-clock-o"></i>{{day.time}}
                                       </span>
                                    </div>
                                 </div>
                              
                           </h5>
                        </div>
                        <div id="{{'collapse'+$index}}" class="panel-collapse collapse" ng-class="{'in': $first}">
                            <div class="card-block">
                                <img ng-src="{{day.photo}}" class="card-image" width="100%" alt="">
                                <p class="no-padding padding">{{day.description }}</p>
                            </div>
                        </div>
                        <a data-toggle="collapse"
                                  data-parent="#accordion1" 
                                  data-target="{{'#collapse'+$index}}" 
                                  class="accordion-toggle">
                                  <i class="fa" 
                                   aria-hidden="true"
                                   ng-init="activeIcon = false" 
                                   ng-click="activeIcon=!activeIcon" 
                                   ng-class=" activeIcon?'fa-angle-up':'fa-angle-down'"></i>
                                </a>
                        <div class="timeline-badge">
                            <div class="vertical-line vertical-line-before" style="height: 15px;"></div>
                            <i class="{{day.bottomIcon}}" aria-hidden="true"></i><span></span>
                            <div class="vertical-line vertical-line-after" style="height: 15px;"></div>
                        </div>
                    </div>
                </div>    
                    
                </div>
              </section>
        </div>
       
    </div>
    <!-- Left and right controls -->
</div>
